.App {
    min-height: 100vh;
    background-color: #292d3e;
    color: white;
    display: flex;
    flex-direction: column;
}

.App main {
    flex-grow: 2;
}

.App footer {
    padding: 5px;
    background-color: #09d3ac;
    justify-content: end;
}

.App-logo {
    height: 5vmin;
}


